{% extends "lab/base.html" %}

{% block title %}Edit project {{ project.name }}{% endblock %}
{% block page_title %}Edit project{% endblock %}
{% block main_class %}container container-narrow{% endblock %}

{% block content %}
    <form method="post" class="form-card">
        {% csrf_token %}
        <input
            type="hidden"
            name="return_url"
            value="{{ return_url }}"
        >

        {% include "lab/components/form_fields.html" with form=form %}

        <div class="actions">
            <button class="button button-primary" type="submit">
                Save changes
            </button>

            <a class="button" href="{{ return_url }}">
                Cancel
            </a>
        </div>
    </form>
{% endblock %}
